* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #faebd717;
}
h1 {
    color: #000000;
    border-bottom: 5px solid #000000;
    padding-bottom: 12px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}
.grid-container {
    column-count: 5;
    column-gap: 15px;
    padding: 15px;
}
.grid-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    border: #000000 2px solid;
    transition: transform 0.3s ease;
}
.grid-item dd {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 20px;
    line-height: 1.2;
    transform: translateY(100%);
}
.grid-item:hover dd {
    opacity: 1.2;
    transform: translateY(0);
}
.grid-item:hover img {
    transform: scale(1.05);
}
@media (max-width: 768px) {
    .grid-container {
        column-count: 2;
    }
}
@media (max-width: 480px) {
    .grid-container {
        column-count: 1;
    }
}
.copyright {
  background-color: #000000;
  padding: 10px 0;
  margin-top: 85px;
  text-align: center;
}

.copyright p {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 0.9em;
}
